{% extends 'layout.html' %}
{% block content %}
<div class="nav-item">
</div>
<div class="container table-p light">
    <table class="shadow-sm table table-striped table-sm">
        <thead class="thead-dark">
            <small>
                <center>
                    <h3>Students of row 1</h3>
                </center>
            </small>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Row</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            {% if student.srow is 1 %}
            <tr>
                <td>{{student.sid}}</td>
                <td>{{student.sname}}</td>
                <td>
                    {% if student.sgender == 'F' %}
                    <form action="/gender/">
                        <input class="black btn-sm btn btn-primary" name="q" type="submit" value="{{student.sgender}}">
                    </form>
                    {% elif student.sgender == 'M' %}
                    <form action="/gender/">
                        <input class="black btn-sm btn btn-warning" name="q" type="submit" value="{{student.sgender}}">
                    </form>
                    {% else %}
                    <form action="/gender/">
                        <input class="btn-sm btn" name="q" type="submit" value="{{student.sgender}}">
                    </form>
                    {% endif %}
                </td>
                <td>{{student.srow}}</td>
                <td>
                    <a href="/edit/{{ student.sid }}" class="badge badge-primary">Edit</a>
                    <a href="/delete/{{student.sid}}" class="badge badge-danger">Delete</a>
                </td>
                
            </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="container table-p light">
    <table class="shadow-sm table table-striped table-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Row</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <center>
                <h3>Students of row 2</h3>
            </center>
            {% for student in students %}
            {% if student.srow is 2 %}
            <tr>
                <td>{{student.sid}}</td>
                <td>{{student.sname}}</td>
                <td>
                    {% if student.sgender == 'F' %}
                    <form action="/gender/">
                        <input class="black btn-sm btn btn-primary" name="q" type="submit" value="{{student.sgender}}">
                    </form>
                    {% elif student.sgender == 'M' %}
                    <form action="/gender/">
                        <input class="black btn-sm btn btn-warning" name="q" type="submit" value="{{student.sgender}}">
                    </form>
                    {% else %}
                    <form action="/gender/">
                        <input class="btn-sm btn" name="q" type="submit" value="{{student.sgender}}">
                    </form>
                    {% endif %}
                </td>
                <td>{{student.srow}}</td>
                <td>
                    <a href="/edit/{{ student.sid }}" class="badge badge-primary">Edit</a>
                    <a href="/delete/{{ student.sid }}" class="badge badge-danger">Delete</a>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="container table-p light">
    <table class="shadow-sm table table-striped table-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Row</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <center>
                <h3>Students of row 3</h3>
            </center>
            {% for student in students %}
            {% if student.srow is 3 %}
            <tr>
                <td>{{student.sid}}</td>
                <td>{{student.sname}}</td>
                <td>
                    {% if student.sgender == 'F' %}
                    <form action="/gender/">
                        <input class="black btn-sm btn btn-primary" name="q" type="submit" value="{{student.sgender}}">
                    </form>
                    {% elif student.sgender == 'M' %}
                    <form action="/gender/">
                        <input class="black btn-sm btn btn-warning" name="q" type="submit" value="{{student.sgender}}">
                    </form>
                    {% else %}
                    <form action="/gender/">
                        <input class="btn-sm btn" name="q" type="submit" value="{{student.sgender}}">
                    </form>
                    {% endif %}
                </td>
                <td>{{student.srow}}</td>
                <td>
                    <a href="/edit/{{ student.sid }}" class="badge badge-primary">Edit</a>
                    <a href="/delete/{{ student.sid }}" class="badge badge-danger">Delete</a>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="container table-p light">
    <table class="shadow-sm table table-striped table-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Row</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <center>
                <h3>Students of row 4</h3>
            </center>
            {% for student in students %}
            {% if student.srow is 4 %}
            <tr>
                <td>{{student.sid}}</td>
                <td>{{student.sname}}</td>
                <td>
                    {% if student.sgender == 'F' %}
                    <form action="/gender/">
                        <input class="black btn-sm btn btn-primary" name="q" type="submit" value="{{student.sgender}}">
                    </form>
                    {% elif student.sgender == 'M' %}
                    <form action="/gender/">
                        <input class="black btn-sm btn btn-warning" name="q" type="submit" value="{{student.sgender}}">
                    </form>
                    {% else %}
                    <form action="/gender/">
                        <input class="btn-sm btn" name="q" type="submit" value="{{student.sgender}}">
                    </form>
                    {% endif %}
                </td>
                <td>{{student.srow}}</td>
                <td>
                    <a href="/edit/{{ student.sid }}" class="badge badge-primary">Edit</a>
                    <a href="/delete/{{ student.sid }}" class="badge badge-danger">Delete</a>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}